<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">Currency</h4>
    <pre class="card-text" ngNonBindable>{{ 1234123 }}</pre>
    <p class="card-text">The result is {{ 1234123 | currency:"USD": true}}</p>
    
  </div>
</div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">Date Time</h4>
   <pre class="card-text" ngNonBindable>{{ dateVal | date: 'fullDate'}}</pre>
    <p class="card-text">The result is {{ dateVal | date: 'fullDate'}}</p>
    
  </div>
</div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">Decimal</h4>
   <pre class="card-text" ngNonBindable>{{ 3.1231 | number: '1.1-3'}}</pre>
    <p class="card-text">The result is {{ 3.1231 | number: '1.1-3'}}</p>
    
  </div>
</div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">JSON</h4>
   <pre class="card-text" ngNonBindable>{{ list | json}}</pre>
    <p class="card-text">The result is {{ list | json}}</p>
    
  </div>
</div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">Array Slice</h4>
   <pre class="card-text" ngNonBindable>{{ listArray | slice:1:3}}</pre>
    <p class="card-text">The result is {{ listArray | slice:1:3}}</p>
    
  </div>
</div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">Percent</h4>
   <pre class="card-text" ngNonBindable>{{ 1.213 | percent: '2.1-2'}}</pre>
    <p class="card-text">The result is {{ 1.213 | percent: '2.1-2'}}</p>
    
  </div>
  </div>
<div class="card text-left m-4">
  <div class="card-body">
    <h4 class="card-title">UpperCase or Lowercase</h4>
   <pre class="card-text" ngNonBindable>{{ 'Hello World' | lowercase}}</pre>
    <p class="card-text">The result is {{ 'Hello World' | lowercase}}</p>
    
  </div>
  </div>